.container {
	width: 100%;

	.box {
		max-width: 102.4rem;

		display: flex;
		justify-content: space-between;
		align-items: center;

		margin: auto;
		padding: 3rem;

		h1 {
			font-size: 2.6rem;
			font-weight: 700;
		}

		.nav {
			display: flex;
			align-items: center;
			gap: 4.2rem;

			a {
				font-size: 1.8rem;
				color: var(--white);
			}

			@media (max-width: 768px) {
				display: none;
			}
		}
	}
}
